{% extends 'base.html' %}

{% block title %}
    Account
{% endblock title %}

{% block content %}
    <main>
        <div class="container">
            {% include "includes/alert.html" %}
            <table class="table mt-5">
                <tbody>
                    <tr>
                        <td>Email address</td>
                        <td>{{ request.user.email }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{ request.user.username }}</td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td>{{ request.user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>{{ request.user.last_name }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'accounts:user_update' %}" class="btn btn-primary">Edit profile</a>
            <a href="{% url 'accounts:change_password' %}" class="btn btn-warning">Change password</a>
        </div>
    </main>
{% endblock content %}