{% extends 'base.html' %}

{% block title %}
    Bookmarks
{% endblock title %}

{% block content %}
    <div class="container">
        {% include "includes/alert.html" %}
        <section class="my-5">
            <div class="mb-4">
                <h1>Bookmarks</h1>
                <p class="lead">
                    {{ posts.count }} Post{{ posts.count|pluralize }}
                </p>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include "blog/includes/post.html" %}
                    </div>
                {% empty %}
                    <h2 class="h4">You have no bookmarks.</h2>
                {% endfor %}
            </div>
            {% include "includes/pagination.html" with queryset=page_obj %}
        </section>
    </div>
{% endblock content %}