{% extends 'base.html' %}

{% block title %}
    My Posts
{% endblock title %}

{% block content %}
    <div class="container">
        {% include "includes/alert.html" %}
        <h1 class="mt-3">
            My Posts
        </h1>
        <p class="lead">
            {{ posts_count }} Post{{ posts_count|pluralize }} found
        </p>
        <section class="my-5">
            <div class="row">
                {% if posts %}
                    {% for post in posts %}
                        <div class="col-12 col-md-6 col-lg-4">
                            {% include "blog/includes/post.html" %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="h4">You have no posts.</h2>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}