{% extends 'base.html' %}

{% load static %}
{% load guardian_tags %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="container">
        {% include "includes/alert.html" %}

        <h1 class="mt-3">{{ post.title }}</h1>

        <section class="mt-5">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Post Image">
                        {% else %}
                            <img src="{% static 'images/no_image_available.png' %}" alt="Post Image">
                        {% endif %}
                    </div>
                    <div>
                        {% if perms.blog.change_post %}
                            {% if "olp_blog_change_post" in post_perms %}
                                <a href="{% url 'blog:post-update' slug=post.slug %}" class="btn btn-warning mt-3">Edit post</a>
                            {% endif %}
                        {% endif %}
                        {% if perms.blog.delete_post %}
                            {% if "olp_blog_change_post" in post_perms %}
                                <a href="{% url 'blog:post-delete' slug=post.slug %}" class="btn btn-danger mt-3">Delete post</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <h2 class="h5 mt-3">
                        <a href="">
                            Author: {{ post.user.get_full_name }}
                        </a>
                    </h2>
                    <p>
                        {{ post.created_at|date:"M d, Y" }}
                    </p>
                    <p>
                        Views: {{ post.views }}
                    </p>
                    <div>
                        {% for tag in post_tags %}
                            {% include "blog/includes/tag.html" %}
                        {% endfor %}
                    </div>
                    <p class="mt-3">
                        {{ post.content|linebreaksbr }}
                    </p>
                </div>

                <div class="col-12 col-md-3">
                    <div>
                        <h3>Related Posts</h3>
                        <hr>
                        {% for post in related_posts %}
                            <div class="mb-4">
                                <h4>{{ post.title|truncatewords:6 }}</h4>
                                <a href="{{ post.get_absolute_url }}" class="text-primary">Read more</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-5">
                        <h3>Top Authors</h3>
                        <hr>
                        {% for user in top_users %}
                            <div class="mb-4">
                                <h4>{{ user.get_full_name|truncatewords:2 }}</h4>
                                <a href="{% url 'blog:user-post-list' username=user.username %}" class="text-primary">Show posts</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-5">
                        <h3>Top Tags</h3>
                        <hr>
                        {% for tag in top_tags %}
                            {% include "blog/includes/tag.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}