{% extends 'base.html' %}

{% load static %}
{% load guardian_tags %}
{% load mptt_tags %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="container">
        {% include "includes/alert.html" %}
        <section class="my-5">
            <h1 class="mb-3">{{ post.title }}</h1>
            <div class="row">
                <!-- 1st column -->
                <div class="col-12 col-md-9">
                    <div>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Post Image">
                        {% else %}
                            <img src="{% static 'images/no_image_available.png' %}" alt="Post Image">
                        {% endif %}
                    </div>
                    {% if is_bookmarkable %}
                        <div class="mt-2">
                            {% if request.user.is_authenticated %}
                                {% if is_bookmarked %}
                                    <button class="btn-bookmark fs-3" data-pk="{{ post.pk }}" data-url="{% url 'blog:bookmark-post' %}">
                                        <i class="bi bi-bookmark-check-fill"></i>
                                    </button>
                                {% else %}
                                    <button class="btn-bookmark fs-3" data-pk="{{ post.pk }}" data-url="{% url 'blog:bookmark-post' %}">
                                        <i class="bi bi-bookmark"></i>
                                    </button>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="fs-3">
                                    <i class="bi bi-bookmark"></i>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <ul class="d-flex gap-1 p-0">
                            {% if perms.blog.change_post %}
                                {% if "olp_blog_change_post" in post_perms %}
                                    <li>
                                        <a href="{% url 'blog:post-update' slug=post.slug %}" class="btn btn-warning">Edit post</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if perms.blog.delete_post %}
                                {% if "olp_blog_change_post" in post_perms %}
                                    <li>
                                        <a href="{% url 'blog:post-delete' slug=post.slug %}" class="btn btn-danger">Delete post</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    {% endif %}
                    <h2 class="h5 mt-3">
                        <a href="{% url 'blog:user-post-list' username=post.user.username %}">
                            Author: {{ post.user.get_full_name }}
                        </a>
                    </h2>
                    <p>
                        Created: {{ post.created_at|date:"M d, Y" }}
                    </p>
                    <p>
                        Views: {{ post.views }}
                    </p>
                    {% if post.user == request.user %}
                        <p>
                            Status: <span class="text-primary">{{ post.status|title }}</span>
                        </p>
                    {% endif %}
                    {% if post_tags %}
                        <div>
                            {% for tag in post_tags %}
                                {% include "blog/includes/tag.html" %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <p class="mt-3">
                        {{ post.content|linebreaksbr }}
                    </p>
                    <hr>
                    {% if request.user.is_authenticated %}
                        <div>
                            <h3>Make a new comment</h3>
                            <form action="{% url 'blog:comment-create' slug=post.slug %}" method="post">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <ul class="form-errors">
                                        {% for error in form.non_field_errors %}
                                            <li>
                                                {{ error }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class="mb-3">
                                    {{ form.content }}
                                    {% if form.content.errors %}
                                        <ul>
                                            {% for error in form.content.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
    
                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    {% else %}
                        <p class="text-dark">
                            You must
                            <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="text-primary">
                                sign in
                            </a>
                            to add a comment.
                        </p>
                    {% endif %}
                    {% if post_comments %}
                        <div class="mt-4">
                            <p class="lead">
                                <span class="fw-bold">{{ post_comments_count }}</span>
                                comment{{ post_comments_count|pluralize }}
                            </p>
                            {% recursetree post_comments %}
                                <div class="mb-3">
                                    <div class="border border-light-subtle rounded p-3" id="comment-{{ node.id }}">
                                        <div>
                                            <p class="fw-bold mb-1">
                                                {{ node.user.get_full_name }}
                                            </p>
                                            <p class="mb-3">
                                                {{ node.created_at|date:"M d, Y" }}
                                            </p>
                                        </div>
                                        <div class="w-100">
                                            <p class="text-justify comment-text mb-0">
                                                {{ node.content|linebreaksbr }}
                                            </p>
                                        </div>
                                        {% if node.user != request.user %}
                                            <div class="text-end">
                                                <button class="btn-reply text-primary" onclick="showReplyForm({{ node.id }})">Reply</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if not node.is_leaf_node %}
                                    <div class="comment-reply">
                                        {{ children }}
                                    </div>
                                {% endif %}
                            {% endrecursetree %}
                        </div>
                    {% endif %}
                </div>
                <!-- 2nd column -->
                <div class="col-12 col-md-3">
                    <div>
                        <h3>Related Posts</h3>
                        <hr>
                        {% for post in related_posts %}
                            <div class="mb-4">
                                <h4>{{ post.title|truncatewords:6 }}</h4>
                                <a href="{{ post.get_absolute_url }}" class="text-primary">Read more</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-5">
                        <h3>Top Authors</h3>
                        <hr>
                        {% for user in top_users %}
                            <div class="mb-4">
                                <h4>{{ user.get_full_name|truncatewords:2 }}</h4>
                                <a href="{% url 'blog:user-post-list' username=user.username %}" class="text-primary">Show posts</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-5">
                        <h3>Top Tags</h3>
                        <hr>
                        {% for tag in top_tags %}
                            {% include "blog/includes/tag.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        function showReplyForm(nodeId) {
            if (document.contains(document.querySelector(".form-reply"))) {
                document.querySelector(".form-reply").remove();
            }
            let commentId = `comment-${nodeId}`;
            let comment = document.querySelector(`#${commentId}`);
            comment.insertAdjacentHTML(
                "afterend",
                `<div class="form-reply mt-3">
                    <h3>Reply</h3>
                    <form action="{% url 'blog:comment-create' slug=post.slug %}" method="post">
                        {% csrf_token %}
                        <select name="parent" class="d-none" required id="id_parent">
                            <option value="${nodeId}" selected></option>
                        </select>
                        <div class="mb-3">
                            <textarea name="content" cols="40" rows="10" class="form-control" placeholder="Write your comment" required="" id="id_content"></textarea>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>`
            )
        }
    </script>
{% endblock content %}