{% extends 'base.html' %}

{% block title %}
    Reset password
{% endblock title %}

{% block content %}
    <main>
        <div class="container">
            <form action="{% url 'reset_password' %}" method="post" class="form mt-5">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <ul class="form-errors">
                        {% for error in form.non_field_errors %}
                            <li>
                                {{ error }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <button class="btn btn-primary">Request reset link</button>
            </form>
        </div>
    </main>    
{% endblock content %}